body,
html {
    overflow: hidden;
    background-color: #fef0d5;
    margin: 0;
    font-family: "Century Gothic", sans-serif;
}

.project {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.project-hail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0544f;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    transition: 0.5s;
    opacity: 0.2;
}

.project-hail2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 0;
    transition: 0.7s;
    border: 22px solid #f0544f;
    border-radius: 20px;
}

.project-name {
    position: absolute;
    max-width: 600px;
    min-width: 150px;
    left: 0;
    top: 150%;
    transition: 0.5s;
    color: #000;
    padding: 3px 6px;
    z-index: 2;
    opacity: 0;
}

.img-masked {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    clip-path: circle(20px at center);
    transition: 0.5s;
}

.project-name::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #f0544f;
    top: 0;
    left: 0;
    transition: 0.3s;
    z-index: -1;
}

.project:hover .img-masked {
    clip-path: circle(100px at center);
}

.project:hover .project-hail {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.project:hover .project-hail2 {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 80px solid #fff4e6;
    opacity: 0;
}

.project:hover .project-name {
    left: 200%;
    opacity: 1;
}

.project:hover .project-name::before {
    width: 100%;
}